node_modules/
server/node_modules/
client/EVENTER/node_modules/

.env
.env.*
server/.env
server/.env.*
client/EVENTER/.env
client/EVENTER/.env.*

!*.env.example

dist/
client/EVENTER/dist/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db
